.funkyBackground {
    position: absolute;
    z-index: -1;

    background-image: linear-gradient(65deg, #ea00ff 0%, #00ff22 100%);
    background-repeat: no-repeat;
    background-position: center;

    height: 100vh;
    width: 100vw;



}
