.content,
.wordmark {
  width: 100%;
  z-index: 1;
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  background-color: var(--background);
  /* padding: 1rem; */
  /* alight left */
  margin-top: 1.5rem;
  margin-right: auto;
}

.content {
  font-family: serif;
  font-size: 120%;
}

.wordmark {
  letter-spacing: -0.09rem;
  font-size: 300%;
}

.wordmark::after {
  content: " _";
  /* color: ; */
  /* hard blink */
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--foreground);
  font-size: 120%;
}

.button {
  font-family: serif;
  /* font-size: 120%; */
  gap: 1.5rem;

  display: flex;
  align-items: center;
}

.button:hover {
  background-color: var(--foreground);
  color: var(--background);
}

.button:not(:last-child) {
  border-bottom: 1px solid var(--line-color);
}

.header,
.button {
  line-height: 1.2;
  background-color: var(--background);
  display: flex;

  margin: auto;
  padding: 1.5rem;

  width: 100%;
}

/* .main > * {
  box-shadow: 0 0 5px 5px var(--background);
} */

.header {
  background-color: var(--foreground);
  color: var(--background);

  flex-direction: column;

  justify-content: center;
  align-items: center;
  border: 1px solid var(--foreground);
}

.icon {
  font-size: 150%;
}

/* media selector for mobile */
@media (max-width: 1000px) {
  .main {
    width: 100%;
    padding-right: 4vw;
    padding-left: 4vw;
    margin-top: 15vh;
  }
}

@media (min-width: 1000px) {
  .main {
    max-width: calc(var(--cell-size) * 25);
    min-width: 28vw;
    /* max-width: clamp(25ch, 50vw, 50ch); */

    margin-top: calc(var(--cell-size) * 5);
    /* height: calc(var(--cell-size) * 25); */
    /* min-height: 24vw; */
  }
}

.main {
  /* outline: 2vw solid var(--background); */

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* want to just change shadow color */
@keyframes colorwheel {
  0% {
    box-shadow: -10px -10px red;
  }
  25% {
    box-shadow: -10px -10px blue;
  }
  50% {
    box-shadow: -10px -10px green;
  }
  75% {
    box-shadow: -10px -10px yellow;
  }
  100% {
    box-shadow: -10px -10px red;
  }
}

.svgFilters {
  position: absolute;
  z-index: -1;
}
