.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--foreground);

  background-color: var(--foreground);
  /* background-image: radial-gradient(var(--background) 1px, transparent 0); */
  background-size: var(--cell-size) var(--cell-size);
}

.year {
  color: var(--background);
  font-size: 50%;
  text-align: center;
  /* font-family: serif; */
  letter-spacing: 2px;
  margin-top: auto;
  margin-bottom: 0;
  /* background-color: var(--background); */
  padding: 0.5rem 1rem;
}
