.wordmark {
  filter: url(#turbulence-filter);
  background-color: white;
  padding: 0 0.5ch;
  width: fit-content;
  z-index: 1;
  font-size: 15vw;
  text-wrap: nowrap;
  letter-spacing: -4px;
  text-wrap: nowrap;
  color: blue;
  border: 1px solid blue;
  margin-bottom: 40%;
}

.svgFilters {
  position: absolute;
  z-index: -1;
}
