.wordmark {
  background-color: var(--background);
  width: 100%;

  margin: auto;

  /* color: var(--background); */
  padding: 0.5rem 2rem;
  width: fit-content;
  z-index: 1;
  font-size: 5vw;
  text-wrap: nowrap;
  letter-spacing: -0.09rem;
  text-wrap: nowrap;
  /* color: var(--foreground); */
  border: 1px solid var(--foreground);

  /* animation: colorwheel 30s linear infinite; */
}

/* want to just change shadow color */
@keyframes colorwheel {
  0% {
    box-shadow: -10px -10px red;
  }
  25% {
    box-shadow: -10px -10px blue;
  }
  50% {
    box-shadow: -10px -10px green;
  }
  75% {
    box-shadow: -10px -10px yellow;
  }
  100% {
    box-shadow: -10px -10px red;
  }
}

.svgFilters {
  position: absolute;
  z-index: -1;
}
