.wordmark {
  background-color: var(--background);
  padding: 0 0.5ch;
  width: fit-content;
  z-index: 1;
  font-size: 15vw;
  text-wrap: nowrap;
  letter-spacing: -3px;
  text-wrap: nowrap;
  color: var(--foreground);
  border: 1px solid var(--foreground);
}

.svgFilters {
  position: absolute;
  z-index: -1;
}
